/* General container */
.container {
    padding: 20px;
}

/* Dropdown and Menu styles */
.dropdownContainer {
    margin-bottom: 20px;
}

.fixedWidthDropdown,
.fixedWidthDropdownMenu {
    width: 300px; /* Set a fixed width that suits your design */
}

.fixedWidthDropdownMenu {
    max-height: 300px; /* Add a max-height to handle overflow */
    overflow-y: auto;
    background-color: white; /* Ensure background color is set */
    border: 1px solid #ccc; /* Add a border for visibility */
}

.dropdownButton {
    width: 100%; /* Ensure the button takes the full width of its container */
    cursor: pointer;
}

/* Metadata Details */
.metadataDetails {
    display: flex;
    align-items: flex-start;
    margin-top: 20px;
}

.metadataText {
    flex: 1;
}

.metadataImage {
    width: 150px;
    height: 150px;
    margin-left: 20px;
}

/* Custom radio button styles */
.customRadio {
    margin: 10px 0;
}

.customRadio input[type="radio"] {
    display: none;
}

.customRadio label {
    position: relative;
    padding-left: 25px;
    cursor: pointer;
    user-select: none;
}

.customRadio label::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    border: 2px solid black;
    border-radius: 50%;
    background-color: white;
}

.customRadio input[type="radio"]:checked + label::after {
    content: "";
    position: absolute;
    left: 6px;
    top: 6px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: black;
}

/* Import Summary Page */
.importSummary {
    padding: 20px;
    margin-top: 20px;
}

.tableContainer {
    overflow-x: auto;
}

/* Updated Button Container Outside */
.updateButtonContainerOutside {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

.updateButton {
    margin-left: 10px;
}

.error {
    color: red;
    margin-top: 10px;
}

.tableHeader {
    font-weight: bold;
    font-size: larger;
}


